<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INF552 Project</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

    <script src="../js/fig5.js"></script>
</head>

<style>
    .bubbles {
        stroke-width: 2px;
        stroke: white;
    }

    .bubbles:hover {
        stroke: black;
    }
</style>

<body onload="createViz()">
    <div id="main">
    </div>
</body>

</html>