<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>INF552 Project</title>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="http://momentjs.com/downloads/moment.js"></script>

        <script src="../js/fig7.js"></script>
    </head>

    <body onload="createViz()">
        <div id="main"></div>
        <div id="footer">
            <button onclick="drawPoints()">Show reviews evolution</button>
            <br>
            <progress id="progress" value="0" max="100" style="visibility:hidden;"></progress>
            <p id="date"></p>
        </div>
    </body>
</html>
